<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
<title>信息服务 | 客运服务 | 铁路客户服务中心</title>
<script src="../resources/js/framework/jquery-1.9.1.js" type="text/javascript"></script>
<!-- js i18n -->
<script src="../resources/js/i18n/messages_zh_CN.js" type="text/javascript"></script>
<script src="../resources/js/rich/dhtmlxcommon.js"></script>
<script src="../resources/js/rich/windows/dhtmlxwindows.js" type="text/javascript"></script>
<script src="../resources/js/rich/dhtmlxcontainer.js" type="text/javascript"></script>
<script src="../resources/js/framework/baseInit.js" type="text/javascript"></script>
<script script="javascript">
/*<![CDATA[*/
 var ctx="";
 /*]]>*/
</script>
<script src="../resources/js/common.js" type="text/javascript"></script>
<link href="../resources/css/common.css" rel="stylesheet" />
<link href="../resources/css/help.css"  rel="stylesheet"  type="text/css" />
<script src="../resources/js/help/help.js"></script>

<script type="text/javascript">
	$(function(){$.sidebar_init(32);});
</script>
</head>
<body>
<!--header start-->
<div class="header" th:include="common::header-frag">
				<div class="header-bd">
		<a href="http://www.12306.cn/"><h1 class="logo">中国铁路客户服务中心-客运中心</h1></a>
		<div class="login-info">
			<div class="menu">
				<a  class="menu-bd" id="js-my" href="../index/initMy12306">我的12306<b></b></a>
				<div class="menu-list">
					<b></b>
					<ul>		
						<li><a  href="../queryOrder/initNoComplete">未完成订单</a></li>	
						<li><a  href="../queryOrder/init">已完成订单(改/退)</a></li>
						<li class="line"></li>
						<li><a href="../modifyUser/initQueryUserInfo">查看个人信息</a></li>
						<li><a href="../userSecurity/init">账户安全</a></li>
						<li class="line"></li>						
						<li><a href="../passengers/init">常用联系人</a></li>
					</ul>
				</div>
			</div>
			<span class="login-txt" style="color: #666666"><span></span><a id="login_user" href="../login/init" class="colorA" style="margin-left:-0.5px;">登录</a>| <a id="regist_out" href="../regist/init">注册</a>
			</span>
			<!-- 
            <span class="login-txt">
            	<a id="" href="#nogo" class="colorA" th:if="${null!=session}" th:text="${session._CURRENT_USER.loginUserDTO.user_name}"></a>
            	<a href="#" th:if="${session==null}">登录</a>|<a href="#nogo">注册</a>
            </span>
             var session = /*[[${session._CURRENT_USER.loginUserDTO.user_name}]]*/;    th:href="(${username})?${#httpServletRequest.contextPath}+'/login/init':${#httpServletRequest.contextPath}+'/index/initMy12306'" th:text="#{loginOrName}" -->
		</div>
		<div class="nav">
			<ul>
				<li><a href="../index/init">客运首页</a></li>
				<li id="selectYuding"><a href="../leftTicket/init">车票预订</a></li>
				<li><a href="../lcxxcx/init">余票查询</a></li>
				<li style="width: 71px;" id="js-xd" class="nav-guide"><a href="javascript:">出行向导</a>
					<div class="nav-list">
						<ul style="font-weight:normal">
							<li><a href="../queryTrainInfo/init">车次查询</a></li>
							<li><a href="../leftTicketPrice/init" >票价查询</a></li>
							<li><a href="../czxx/init" >车站车次查询</a></li>
							<li><a href="../zzzcx/init" >中转查询</a></li>
							<li><a href="../zwdch/init" >正晚点查询</a></li>
							<li><a href="../queryAgencySellTicket/init">代售点查询</a></li>
						</ul>
					</div></li>
				<li id="selectHelp"><a href="../gonggao/help.html">信息服务</a></li>
			</ul>
		</div>


	</div>
</div>
<!--header end-->

<!--页面主体  开始-->
<div class="content clearfix">
	<!--当前位置 开始-->
    <div class="crumbs">
    	您现在的位置：<a href="../index/init">客运首页</a>&nbsp;>&nbsp;<a href="../gonggao/help.html">信息服务</a>&nbsp;>&nbsp;<a href="#nogo" >常见问题</a>&nbsp;>&nbsp;<strong>丢失车票</strong>
    </div>
    <!--当前位置 结束-->
    
	<!--左侧导航 开始-->
    <div class="sidebar">
        <div class="layout my">
            <div class="lay-hd">常见问题</div>
            <div class="lay-bd">
                <div class="nav-label" style="display:none"><span></span></div>
                <dl>
                    <dt><a href="#nogo">车票</a><b></b></dt>
                    <dd id="help1_1"><a id="ticketType" href="#nogo">车票的种类</a></dd>
                    <dd id="help1_2"><a id="realNameTicket" href="#nogo">实名制车票</a></dd>
                    <dd id="help1_3"><a id="reimburseVoucher" href="#nogo">报销凭证</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">购票</a><b></b></dt>
                    <dd id="help2_1"><a id="ticketWindow" href="#nogo">售票窗口购票</a></dd>
                    <dd id="help2_2"><a id="ticketVendor" href="#nogo">自动售票机购票</a></dd>
                    <dd id="help2_3"><a id="phoneBooking" href="#nogo">电话订票</a></dd>
                    <dd id="help2_4"><a id="onlineBooking" href="#nogo">互联网购票、换票</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">改签、变更到站</a><b></b></dt>
                    <dd id="help3_1"><a id="windowEndorse" href="#nogo">售票窗口改签、变更到站</a></dd>
                    <dd id="help3_2"><a id="onlineEndorse" href="#nogo">互联网改签、变更到站</a></dd>
                    <dd id="help3_3"><a id="changeOrDelay" href="#nogo">列车变更或延迟</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">退票</a><b></b></dt>
                    <dd id="help4_1"><a id="windowRefund" href="#nogo">售票窗口退票</a></dd>
                    <dd id="help4_2"><a id="onlineRefund" href="#nogo">互联网退票</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">特殊旅客服务</a><b></b></dt>
                    <dd id="help5_1"><a id="children" href="#nogo">儿童</a></dd>
                    <dd id="help5_2"><a id="student" href="#nogo">学生</a></dd>
                    <dd id="help5_3"><a id="disabledSoldier" href="#nogo">残疾军人</a></dd>
                    <dd id="help5_4"><a id="disabledPassenger" href="#nogo">残疾旅客</a></dd>
                    <dd id="help5_5"><a id="groupPassengers" href="#nogo">团体旅客</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">携带品和行李</a><b></b></dt>
                    <dd id="help6_1"><a id="luggage" href="#nogo">随身携带品</a></dd>
                    <dd id="help6_2"><a id="luggageTransportation" href="#nogo">行李托运</a></dd>
                    <dd id="help6_3"><a id="insuredTransportation" href="#nogo">保价运输</a></dd>
                    <dd id="help6_4"><a id="compensation" href="#nogo">索赔</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">进站乘车</a><b></b></dt>
                    <dd id="help7_1"><a id="enterAndExit" href="#nogo">进出站</a></dd>
                    <dd id="help7_2"><a id="riding" href="#nogo">乘车</a></dd>
                </dl>
                <dl class="on">
                    <dt><a href="#nogo">特殊情况 </a><b></b></dt>
                    <dd id="help8_1"><a id="soldByMistake" href="#nogo">误售误购</a></dd>
                    <dd id="help8_2"><a id="ticketLost" href="#nogo">丢失车票</a></dd>
                    <dd id="help8_3"><a id="sickOnTheTrain" href="#nogo">途中生病</a></dd>
                    <dd id="help8_4"><a id="personalInjury" href="#nogo">人身伤害</a></dd>
                    <dd id="help8_5"><a id="lostItem" href="#nogo">遗失物品</a></dd>
                    <dd id="help8_6"><a id="airconditionMalfunction" href="#nogo">空调故障</a></dd>
                    <dd id="help8_7"><a id="trafficSuspension" href="#nogo">运输中断</a></dd>
                    <dd id="help8_8"><a id="specialLine" href="#nogo">特殊线路</a></dd>
                </dl>
                <dl>
                    <dt><a href="#nogo">客运服务</a><b></b></dt>
                    <dd id="help9_1"><a id="railwayService" href="#nogo">站车服务</a></dd>
                    <dd id="help9_2"><a id="dining" href="#nogo">餐饮</a></dd>
                </dl>
                <dl class="on">
                    <dt><a href="#nogo">互联网售票</a><b></b></dt>
                    <dd id="help10_1"><a id="checkIdentity" href="#nogo">身份核验</a></dd>
                    <dd id="help10_2"><a id="register" href="#nogo">用户注册</a></dd>
                    <dd id="help10_3"><a id="buyTicket" href="#nogo">购票</a></dd>
                    <dd id="help10_4"><a id="onlinePay" href="#nogo">在线支付</a></dd>
                    <dd id="help10_5"><a id="endorseAndRefund" href="#nogo">改签、变更到站、退票</a></dd>
                    <dd id="help10_6"><a id="changeToPaperTicket" href="#nogo">换取纸质车票</a></dd>
                    <dd id="help10_7"><a id="sgc" href="#nogo">使用居民身份证直接检票乘车</a></dd>
                </dl>
 
                <!--点击后DL添加样式on后下拉项DD会自动下限-->
            </div>
        </div>
    </div>
    <!--左侧导航 结束-->
    
    <!-- 右侧主体开始 -->
    <div class="main">
    	<ul class="q-list">
            <li class="on">
            	<dt>1. 旅客直接使用居民身份证检票乘车途中居民身份证丢失怎么办？</dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在12306.cn网站使用居民身份证购票，且在具备条件的车站使用居民身份证通过自动检票机（闸机）直接检票乘车的，在列车上因居民身份证丢失、无法确认车票信息的，请先行补票。旅客补票后，又找到居民身份证的，列车长确认后开具客运记录交旅客，旅客持客运记录和居民身份证原件到下车站退票窗口退还后补车票，不收退票费。<br/>
                </dd>
            </li>
            <li>
            	<dt>2. 车票丢失了，为了报销，是否可以重新补办？ </dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依据国家发票管理有关规定，铁路部门出具的车票等运输票据具有发票属性，旅客丢失车票，不能补办。<br/>
                </dd>
            </li>
            
            
            <li>
            	<dt>3. 在检票进站前丢失实名制车票，如何办理挂失补办手续？</dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）请您在车票票面发站停止售票前，到车站售票厅指定窗口办理挂失补办手续。办理时，须提供购票时使用的有效身份证件原件、购票地（取票地）车站名称、乘车日期、车次、发到站信息。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）经车站确认您的身份、车票等信息无误后，按原车票车次、席位、票价重新购买一张新车票。新票票面信息与原车票一致，并加注“挂失补”字样。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）上车后，请您主动向列车工作人员声明（乘坐动车组时向列车长声明，乘坐普速客车时向本车厢列车员声明）。经列车核验“挂失补车票”、购票时所使用的有效身份证件原件与乘车人一致并在到站前确认未发现原车票被他人使用后，给您开具客运记录，与“挂失补车票”一并作为退票的凭证。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）到站后，请您主动向车站出站口工作人员声明，配合工作人员进行查验，并于24小时内办理退票手续。办理时，凭客运记录、“挂失补车票”和购票时所使用的有效身份证件原件退回“挂失补车票”票款，铁路部门不收退票费，只收取2元手续费，同时收回“挂失补车票”和客运记录。<br/>
                </dd>
            </li>
            <li>
            	<dt>4. 在列车上丢失实名制车票，列车能够查询到购票信息，如何办理挂失补办手续？ </dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）请您主动向列车工作人员声明（乘坐动车组时向列车长声明，乘坐普速客车时向本车厢列车员声明）。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）经列车查验乘车人、购票时所使用的有效身份证件原件、购票信息一致后，列车长为您办理挂失补办手续，只收取2元手续费，票面标注“车票丢失”字样。到站前核验席位使用正常后，给您开具客运记录。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）到站后，请您主动向车站出站口工作人员声明，配合工作人员进行查验。凭票面标注“车票丢失”字样车票、客运记录和购票时所使用的有效身份证件原件办理出站检票手续，车站收回客运记录，列车收取的2元手续费不予退还。<br/>
                </dd>
            </li>
            <li>
            	<dt>5. 在列车上丢失实名制车票，列车未查询到购票信息，怎么办？ </dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）请您主动向列车工作人员声明（乘坐动车组时向列车长声明，乘坐普速客车时向本车厢列车员声明）。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）如列车未查询到您的购票信息，请先办理补票。到站前核验席位使用正常后，给您开具客运记录。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）到站后，请您主动向车站出站口工作人员声明，配合工作人员进行查验。并于24小时内，凭客运记录、后补车票和购票时所使用的有效身份证件原件，到退票窗口，经车站核实身份信息及乘车日期、车次等原票、后补购票信息，确认有购票记录及已购车票有效后，退还后补车票与原票乘车区间一致部分的票价和列车补票手续费，车站收取2元手续费，收回客运记录。<br/>	
                </dd>
            </li>
            <li>
            	<dt>6. 在出站检票前丢失实名制车票，怎么办？ </dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）请您主动向车站工作人员声明，并配合工作人员进行查验。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）经车站核查，有购票记录，已购车票有效，乘车日期、车次相符，票证人一致，实际乘车区间未超过已购车票乘车区间，并且没有出站检票记录的，为您办理挂失补办手续，收取2元手续费，票面标注“车票丢失”字样。您可凭该车票和购票时所使用的有效身份证件原件出站。经核查不符合上述条件的，须按规定补票后出站。<br/>
                </dd>
            </li>
            <li>
            	<dt>7. 哪些情况不办理实名制车票挂失补办手续？ </dt>
                <dd>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;铁路部门建立丢失车票旅客信息库，对声称丢失车票的旅客，具有以下情形之一的，发站不予办理挂失补办手续，列车和到站按无票处理，并登记其身份信息。<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）不能提供购票时所使用的有效身份证件原件的；<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）没有购票记录的；<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）所购原票已经失效、退票或有出站检票记录的；<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）证、人、购票记录不一致的；<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）乘车日期、车次不符的；<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（6）实际乘车区间超过所购车票乘车区间的。<br/>
                </dd>
            </li>
      	</ul>
	</div>
 	<!-- 右侧主体结束 -->	  
</div>
<!--页面主体  结束-->

<!--页面底部  开始-->
<div class="footer">
	<p><a href="#nogo">关于我们</a>|<a href="#nogo">网站声明</a></p>
    <p>版权所有©2008-2015铁道部信息技术中心&nbsp;&nbsp;中国铁道科学研究院</p>
    <p>京ICP备10009636号</p>
</div>
<!--页面底部  结束-->

</body>
</html>